Repository umami-hep/umami: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: isort
        types: [python]
        args: ["--profile", "black"]
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: black
        types: [python]
        args: ["--experimental-string-processing"]
      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: flake8
        types: [python]
        exclude: setup.py
        args: ["--darglint-ignore-regex", "*"]
      - id: yamllint
        name: yamllint
        stages: [commit]
        language: system
        entry: yamllint
        types: [yaml]
        args: ["-d", "{extends: relaxed, rules: {line-length: disable}}"]

Fixing pipeline
  umami/data_tools/Loaders.py
Due: isort, black, flake8

Adding documentation for VSCode usage
  docs/development.md
Due: none

adding automated todo issue update in master ci
  pipelines/.linting-gitlab-ci.yaml
  pipelines/gitlab-update-todo.py
Due: isort, black, flake8, yamllint

Adding new p4931 samples
  docs/mc-samples.md
Due: none

Minor formatting changes
  umami/evaluation_tools/PlottingFunctions.py
Due: isort, black, flake8

Validation of variable content of h5 files
  docs/preprocessing.md
  umami/data_tools/__init__.py
  umami/data_tools/tools.py
  umami/evaluation_tools/PlottingFunctions.py
  umami/preprocessing_tools/Resampling.py
  umami/tests/unit/data_tools/test_data_tools_tools.py
Due: isort, black, flake8

Adding onnxruntime and tensorflow to onnx converter
  additional_requirements.txt
Due: none

Generalise validation files
  .gitignore
  docs/DL1r-instructions.md
  docs/Dips-instructions.md
  examples/DL1r-PFlow-Training-config.yaml
  examples/Dips-Cond-Att-PFlow-Training-config.yaml
  examples/Dips-PFlow-Training-config.yaml
  examples/umami-PFlow-Training-config.yaml
  umami/metrics/metrics.py
  umami/models/Model_DL1.py
  umami/models/Model_Dips.py
  umami/models/Model_Dips_cond_att.py
  umami/models/Model_Umami.py
  umami/tests/integration/test_train.py
  umami/tests/unit/train_tools/fixtures/test_train_config.yaml
  umami/tests/unit/train_tools/plots/PlotAccuracies.png
  umami/tests/unit/train_tools/plots/PlotAccuraciesUmami.png
  umami/tests/unit/train_tools/plots/PlotDiscCutPerEpoch.png
  umami/tests/unit/train_tools/plots/PlotDiscCutPerEpochUmami.png
  umami/tests/unit/train_tools/plots/PlotLosses.png
  umami/tests/unit/train_tools/plots/PlotLossesUmami.png
  umami/tests/unit/train_tools/test_NN_tools.py
  umami/tests/unit/train_tools/test_Plotting.py
  umami/train_tools/Configuration.py
  umami/train_tools/NN_tools.py
  umami/train_tools/Plotting.py
  umami/train_tools/__init__.py
Due: isort, black, flake8, yamllint

Fixing path of the pre and past sampling distribution plots
  umami/preprocessing_tools/Resampling.py
Due: isort, black, flake8

Fixing wrong set VSCode variable in docs
  docs/development.md
Due: none

Adding error to replaceLineInFile
  umami/tests/unit/helper_tools/test_tools.py
  umami/tools/tools.py
Due: isort, black, flake8

Fixed typo in plotting code
  umami/train_tools/Plotting.py
Due: isort, black, flake8

Adding save divide
  setup.cfg
  umami/helper_tools/__init__.py
  umami/helper_tools/histogram_tools.py
  umami/tests/unit/helper_tools/test_hisogram_tools.py
Due: isort, black, flake8

Small fix adding for image build in CI
  docs/Feature_Importance.md
  docs/LWTNN-conversion.md
  docs/WO_trained_model.md
  docs/development.md
  pipelines/.docker-gitlab-ci.yaml
Due: yamllint

Adding comments from !339
  docs/DL1r-instructions.md
  docs/Dips-instructions.md
  examples/DL1r-PFlow-Training-config.yaml
  examples/Dips-Cond-Att-PFlow-Training-config.yaml
  examples/Dips-PFlow-Training-config.yaml
  examples/evalute_comp_taggers.yaml
  examples/umami-PFlow-Training-config.yaml
  umami/evaluate_model.py
  umami/tests/integration/test_train.py
  umami/tests/unit/train_tools/test_NN_tools.py
  umami/tests/unit/train_tools/test_Plotting.py
  umami/train_tools/NN_tools.py
  umami/train_tools/Plotting.py
Due: isort, black, flake8, yamllint

Updated comments and docs for 'njets' parameter in preprocessing
  docs/preprocessing.md
  examples/PFlow-Preprocessing-taus.yaml
  examples/PFlow-Preprocessing.yaml
Due: yamllint

Renaming DIPS Cond Att to CADS + Adding option to load optimiser
  docs/DL1r-instructions.md
  docs/Dips-instructions.md
  examples/CADS-PFlow-Training-config.yaml
  pipelines/.integration_test-gitlab-ci.yaml
  pipelines/label_mapping.yaml
  umami/evaluate_model.py
  umami/models/Model_CADS.py
  umami/models/Model_DL1.py
  umami/models/Model_Dips.py
  umami/models/Model_Umami.py
  umami/models/__init__.py
  umami/plotting_epoch_performance.py
  umami/tests/integration/fixtures/testSetup.yaml
  umami/tests/integration/test_train.py
  umami/tf_tools/__init__.py
  umami/tf_tools/generators.py
  umami/train.py
  umami/train_tools/NN_tools.py
Due: isort, black, flake8, yamllint

Adding fixed p4931 samples
  docs/mc-samples.md
Due: none

Adding version and new test ci preprocess location
  .gitignore
  examples/Preprocessing-parameters.yaml
  pipelines/.integration_test-gitlab-ci.yaml
  setup.py
  umami/__init__.py
  umami/preprocessing_tools/Configuration.py
  umami/tests/integration/test_preprocessing.py
  umami/tests/integration/test_train.py
Due: isort, black, flake8, yamllint

Small preprocessing changes
  umami/configs/GNN_Variables.yaml
  umami/data_tools/Cuts.py
  umami/preprocessing_tools/Preparation.py
  umami/preprocessing_tools/Resampling.py
Due: isort, black, flake8, yamllint

Merging DL1r and DIPS doc doublings
  docs/DL1r-instructions.md
  docs/Dips-instructions.md
  docs/Umami-instructions.md
  docs/train-instructions.md
  mkdocs.yml
Due: yamllint

Fixing bug, missing tracks labels in preprocessed sample
  umami/configs/GNN_Variables.yaml
  umami/preprocessing_tools/Scaling.py
Due: isort, black, flake8, yamllint

Fixing pdf sampling files path
  umami/preprocessing_tools/Resampling.py
  umami/preprocessing_tools/Scaling.py
Due: isort, black, flake8

Comment and logging update
  umami/evaluate_model.py
  umami/evaluation_tools/eval_tools.py
Due: isort, black, flake8

allowing preprocess config without !include
  umami/preprocessing_tools/Configuration.py
  umami/train_tools/NN_tools.py
Due: isort, black, flake8

doc string improvements
  umami/input_vars_tools/PlottingFunctions.py
  umami/preprocessing_tools/Resampling.py
Due: isort, black, flake8

Copy config files during pp
  umami/preprocessing.py
  umami/preprocessing_tools/Configuration.py
  umami/preprocessing_tools/Preparation.py
  umami/preprocessing_tools/Resampling.py
  umami/preprocessing_tools/Scaling.py
  umami/tests/unit/preprocessing/fixtures/test_parameters.yaml
  umami/tests/unit/preprocessing/fixtures/test_preprocess_config.yaml
Due: isort, black, flake8, yamllint

Preparation cleanups
  umami/preprocessing_tools/Preparation.py
Due: isort, black, flake8

Adding MC20e Z' flat Pythia
  docs/mc-samples.md
Due: none

Fix track masking in the scaling
  umami/preprocessing_tools/Scaling.py
  umami/preprocessing_tools/__init__.py
  umami/tests/unit/preprocessing/test_preprocessing_tools_Scaling.py
Due: isort, black, flake8

Adding MC16d Z + jets h5
  docs/mc-samples.md
Due: none

Change bb-jets colour
  umami/configs/global_config.yaml
Due: yamllint

Fixing `chunk_size` issue in preprocessing for `--to_records`
  umami/tf_tools/Convert_to_Record.py
Due: isort, black, flake8

Copy config bugfix
  umami/preprocessing_tools/Configuration.py
Due: isort, black, flake8

Adding docstring updates and inline comments
  umami/preprocessing_tools/Resampling.py
Due: isort, black, flake8

fix evaluation of pre-evaluated taggers
  docs/WO_trained_model.md
  examples/evalute_comp_taggers.yaml
  umami/evaluate_model.py
Due: isort, black, flake8, yamllint

Adding integration test for evaluation without a freshly trained tagger
  pipelines/.integration_test-gitlab-ci.yaml
  umami/tests/integration/fixtures/testSetup.yaml
  umami/tests/integration/test_train.py
Due: isort, black, flake8, yamllint

Adding fraction contour plots
  docs/plotting/plotting_umami.md
  docs/train-instructions.md
  examples/plotting_umami_config_DL1r.yaml
  examples/plotting_umami_config_Umami.yaml
  examples/plotting_umami_config_dips.yaml
  umami/evaluate_model.py
  umami/evaluation_tools/PlottingFunctions.py
  umami/evaluation_tools/__init__.py
  umami/evaluation_tools/eval_tools.py
  umami/plotting_umami.py
  umami/tests/unit/evaluation_tools/plots/plotFractionContour.png
  umami/tests/unit/evaluation_tools/test_PlottingFunctions.py
  umami/tests/unit/evaluation_tools/test_eval_tools.py
Due: isort, black, flake8, yamllint
