Repository umami-hep/umami: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, yamllint

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort
  args:
  - --profile
  - black

black:
  name: black
  stages:
  - commit
  language: system
  entry: black
  args:
  - --experimental-string-processing

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8
  args:
  - --darglint-ignore-regex
  - '*'

yamllint:
  name: yamllint
  stages:
  - commit
  language: system
  entry: yamllint
  args:
  - -d
  - '{extends: relaxed, rules: {line-length: disable}}'

fix unittests on branches
  .gitlab/workflow/.unit_test-gitlab-ci.yaml
Due: yamllint

bump to version 0.7
  changelog.md
  docs/plotting/python_api/input_correlations.md
  umami/__init__.py
Due: isort, black, flake8

Update atlasify
  requirements.txt
Due: none

Use multiple signal classes
  .gitlab/workflow/.integration_test-gitlab-ci.yaml
  changelog.md
  docs/trainings/train-instructions.md
  umami/evaluate_model.py
  umami/evaluation_tools/eval_tools.py
  umami/metrics/metrics.py
  umami/plotting_epoch_performance.py
  umami/tests/integration/test_preprocessing.py
  umami/tests/integration/test_train.py
  umami/tests/unit/helper_tools/test_tools.py
  umami/tests/unit/metrics/test_metrics.py
  umami/tools/__init__.py
  umami/tools/tools.py
  umami/train_tools/Plotting.py
Due: isort, black, flake8, yamllint

Small fix in histogram plotting API + added new features from atlasify
  changelog.md
  umami/plotting/histogram.py
  umami/plotting/plot_base.py
  umami/tests/unit/plotting/expected_plots/test_histogram_different_ranges.png
  umami/tests/unit/plotting/expected_plots/test_histogram_ratio_value.png
Due: isort, black, flake8

(Plotting python API) Improve histogram binning
  changelog.md
  examples/plotting/plot_basic_histogram.py
  examples/plotting/plot_discriminant_scores.py
  examples/plotting/plot_flavour_probabilities.py
  umami/plotting/histogram.py
  umami/tests/unit/plotting/expected_plots/test_histogram_custom_range.png
  umami/tests/unit/plotting/test_histogram.py
Due: isort, black, flake8

Fixing failing unit test
  .gitlab-ci.yml
  .gitlab/workflow/.deployment-gitlab-ci.yaml
  umami/evaluation_tools/eval_tools.py
  umami/metrics/metrics.py
  umami/tests/unit/helper_tools/test_tools.py
  umami/tools/tools.py
  umami/train_tools/Plotting.py
Due: isort, black, flake8, yamllint

(plotting API) add option to remove "ATLAS" from plots
  changelog.md
  examples/plotting/plot_flavour_probabilities.py
  requirements.txt
  umami/plotting/plot_base.py
  umami/tests/unit/plotting/expected_plots/test_histogram_custom_range.png
  umami/tests/unit/plotting/test_histogram.py
Due: isort, black, flake8

Fixing nFiles for tfrecords training
  changelog.md
  docs/trainings/train-instructions.md
  umami/tf_tools/load_tfrecord.py
Due: isort, black, flake8

Update black version
  .gitlab/workflow/.linting-gitlab-ci.yaml
  examples/custom-pdf.py
  requirements_develop.txt
  umami/helper_tools/histogram_tools.py
  umami/preprocessing_tools/Scaling.py
  umami/tf_tools/layers.py
Due: isort, black, flake8, yamllint

Use plotting python API in input var plots (track variables)
  changelog.md
  umami/evaluation_tools/PlottingFunctions.py
  umami/input_vars_tools/PlottingFunctions.py
  umami/input_vars_tools/__init__.py
  umami/plot_input_variables.py
  umami/plotting/histogram.py
  umami/plotting/plot_base.py
  umami/plotting/utils.py
  umami/tests/integration/test_input_vars_plot.py
  umami/tests/unit/input_vars_tools/fixtures/plot_input_variables.yaml
  umami/tests/unit/input_vars_tools/plots/comp/IP2D_bu.png
  umami/tests/unit/input_vars_tools/plots/comp/IP2D_cu.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/0/IP3D_signed_d0_significance_0_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/0/dr_0_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/0/numberOfInnermostPixelLayerHits_0_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/All/IP3D_signed_d0_significance_None_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/All/dr_None_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/All/numberOfInnermostPixelLayerHits_None_All.png
  umami/tests/unit/input_vars_tools/plots/comp_no_norm/ptfrac/All/IP3D_signed_d0_significance_None_All.png
  umami/tests/unit/input_vars_tools/plots/jets_input_vars/IP2D_bu.png
  umami/tests/unit/input_vars_tools/plots/jets_input_vars/IP2D_cu.png
  umami/tests/unit/input_vars_tools/plots/nTracks_per_Jet_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/0/IP3D_signed_d0_significance_0_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/0/dr_0_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/0/numberOfInnermostPixelLayerHits_0_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/All/IP3D_signed_d0_significance_None_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/All/dr_None_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/All/numberOfInnermostPixelLayerHits_None_All.png
  umami/tests/unit/input_vars_tools/test_input_vars_tools.py
Due: isort, black, flake8, yamllint

Remove redundant loading loop
  changelog.md
  umami/input_vars_tools/PlottingFunctions.py
Due: isort, black, flake8

Use plotting API for input var plots (jet variables)
  changelog.md
  docs/plotting/plotting_inputs.md
  examples/plotting_input_vars.yaml
  umami/input_vars_tools/PlottingFunctions.py
  umami/input_vars_tools/__init__.py
  umami/plot_input_variables.py
  umami/plotting/histogram.py
  umami/plotting/utils.py
  umami/tests/integration/test_input_vars_plot.py
  umami/tests/unit/input_vars_tools/fixtures/plot_input_variables.yaml
  umami/tests/unit/input_vars_tools/plots/comp/IP2D_bu.png
  umami/tests/unit/input_vars_tools/plots/comp/IP2D_cu.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/0/IP3D_signed_d0_significance_0_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/0/dr_0_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/0/numberOfInnermostPixelLayerHits_0_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/All/IP3D_signed_d0_significance_None_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/All/dr_None_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/All/numberOfInnermostPixelLayerHits_None_All.png
  umami/tests/unit/input_vars_tools/plots/comp_no_norm/ptfrac/All/IP3D_signed_d0_significance_None_All.png
  umami/tests/unit/input_vars_tools/plots/jets_input_vars/IP2D_bu.png
  umami/tests/unit/input_vars_tools/plots/jets_input_vars/IP2D_cu.png
  umami/tests/unit/input_vars_tools/plots/nTracks_per_Jet_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/0/IP3D_signed_d0_significance_0_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/0/dr_0_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/0/numberOfInnermostPixelLayerHits_0_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/All/IP3D_signed_d0_significance_None_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/All/dr_None_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/All/numberOfInnermostPixelLayerHits_None_All.png
  umami/tests/unit/input_vars_tools/test_input_vars_tools.py
  umami/tests/unit/plotting/expected_plots/test_histogram_custom_range.png
  umami/tests/unit/plotting/test_histogram.py
Due: isort, black, flake8, yamllint

change default fc for evaluation of Dips and Cads in training configs
  changelog.md
  examples/CADS-PFlow-Training-config.yaml
  examples/Dips-PFlow-Training-config.yaml
Due: yamllint

Adding continue_training option
  changelog.md
  docs/trainings/train-instructions.md
  umami/models/Model_CADS.py
  umami/models/Model_DL1.py
  umami/models/Model_Dips.py
  umami/models/Model_Umami.py
  umami/models/Model_Umami_cond_att.py
  umami/tf_tools/__init__.py
  umami/tf_tools/models.py
  umami/train_tools/NN_tools.py
  umami/train_tools/Plotting.py
Due: isort, black, flake8

Extend flexibility in input var plotting functions
  .gitlab/workflow/.deployment-gitlab-ci.yaml
  .gitlab/workflow/docstring_to_md_table.py
  changelog.md
  docs/plotting/plotting_inputs.md
  examples/plotting/plot_flavour_probabilities.py
  examples/plotting_input_vars.yaml
  umami/input_vars_tools/PlottingFunctions.py
  umami/input_vars_tools/__init__.py
  umami/plot_input_variables.py
  umami/plotting/histogram.py
  umami/plotting/plot_base.py
  umami/plotting/utils.py
  umami/tests/integration/test_input_vars_plot.py
  umami/tests/unit/input_vars_tools/fixtures/plot_input_variables.yaml
  umami/tests/unit/input_vars_tools/test_input_vars_tools.py
Due: isort, black, flake8, yamllint

Adding prepare_docs stage to CI
  .gitlab-ci.yml
  .gitlab/workflow/.deployment-gitlab-ci.yaml
  changelog.md
Due: yamllint

Adding ylabel_ratio_1 and ylabel_ratio_2 to plot_base
  changelog.md
  examples/plotting/plot_discriminant_scores.py
  umami/plotting/histogram.py
  umami/plotting/plot_base.py
  umami/plotting/roc.py
  umami/plotting/var_vs_eff.py
  umami/tests/unit/plotting/test_roc.py
Due: isort, black, flake8

Delete minimal_requirements.txt
  minimal_requirements.txt
Due: none

Update docs
  docs/trainings/LWTNN-conversion.md
Due: none

Small refinements in input var plots
  changelog.md
  umami/input_vars_tools/PlottingFunctions.py
  umami/plotting/utils.py
  umami/tests/unit/input_vars_tools/fixtures/plot_input_variables.yaml
  umami/tests/unit/input_vars_tools/plots/nTracks_per_Jet_All.png
Due: isort, black, flake8, yamllint

docs: singularity caches: keep on /eos and /tmp, respectively
  docs/setup/installation.md
Due: none

Adding CVMFS singularity images
  docs/setup/installation.md
Due: none

Small doc update
  docs/setup/installation.md
Due: none

Adding URL support to placeholder syntax
  .gitlab/workflow/replace_placeholders_in_md.py
  docs/setup/development/good_practices_docs.md
  docs/trainings/LWTNN-conversion.md
Due: isort, black, flake8

Use consistent naming conventions
  docs/setup/development/good_practices_code.md
Due: none

adding pydash to requirements
  changelog.md
  requirements.txt
Due: none

Change default value of atlas_second_tag
  changelog.md
  docs/plotting/python_api/var_vs_eff.md
  examples/plotting/plot_discriminant_scores.py
  examples/plotting/plot_pt_vs_eff.py
  examples/plotting/plot_rocs.py
  umami/plotting/plot_base.py
  umami/tests/unit/evaluation_tools/test_PlottingFunctions.py
  umami/tests/unit/plotting/expected_plots/test_histogram_ratio_value.png
  umami/tests/unit/plotting/test_roc.py
Due: isort, black, flake8

Update the LWTNN scripts
  changelog.md
  docs/trainings/LWTNN-conversion.md
  scripts/check_lwtnn-model.py
  scripts/check_lwtnn-model_config.yaml
  scripts/conv_lwtnn_model.py
  scripts/create_lwtnn_vardict.py
Due: isort, black, flake8, yamllint

Adding error message if file in placeholder does not exist
  .gitlab/workflow/replace_placeholders_in_md.py
  changelog.md
  docs/trainings/LWTNN-conversion.md
Due: isort, black, flake8

Make docs titles clickable (for links)
  .gitlab/workflow/.deployment-gitlab-ci.yaml
  mkdocs.yml
Due: yamllint

Fix slim image
  .gitlab/workflow/.docker-gitlab-ci.yaml
Due: yamllint

Adapting naming to PEP8
  umami/evaluate_model.py
  umami/evaluation_tools/PlottingFunctions.py
  umami/evaluation_tools/eval_tools.py
  umami/input_vars_tools/__init__.py
  umami/input_vars_tools/plotting_functions.py
  umami/metrics/__init__.py
  umami/metrics/metrics.py
  umami/metrics/tools.py
  umami/models/__init__.py
  umami/models/model_cads.py
  umami/models/model_dips.py
  umami/models/model_dl1.py
  umami/models/model_umami.py
  umami/models/model_umami_cond_att.py
  umami/plotting_epoch_performance.py
  umami/plotting_umami.py
  umami/tests/unit/input_vars_tools/test_input_vars_tools.py
  umami/tests/unit/metrics/test_metrics.py
  umami/train.py
  umami/train_tools/NN_tools.py
  umami/train_tools/Plotting.py
Due: isort, black, flake8

Fix validation values json in continue_training
  changelog.md
  umami/models/model_cads.py
  umami/models/model_dips.py
  umami/models/model_dl1.py
  umami/models/model_umami.py
  umami/models/model_umami_cond_att.py
  umami/tests/unit/train_tools/test_NN_tools.py
  umami/train_tools/NN_tools.py
  umami/train_tools/Plotting.py
  umami/train_tools/configuration.py
Due: isort, black, flake8

(Plotting API) Update training plots to plotting API
  changelog.md
  examples/CADS-PFlow-Training-config.yaml
  examples/DL1r-PFlow-Training-config.yaml
  examples/Dips-PFlow-Training-config.yaml
  examples/umami-Cond-Att-PFlow-Training-config.yaml
  examples/umami-PFlow-Training-config.yaml
  umami/plotting/plot_base.py
  umami/plotting/utils.py
  umami/tests/unit/train_tools/fixtures/test_train_config.yaml
  umami/tests/unit/train_tools/plots/PlotAccuracies.png
  umami/tests/unit/train_tools/plots/PlotAccuraciesUmami.png
  umami/tests/unit/train_tools/plots/PlotDiscCutPerEpoch.png
  umami/tests/unit/train_tools/plots/PlotDiscCutPerEpochUmami.png
  umami/tests/unit/train_tools/plots/PlotLosses.png
  umami/tests/unit/train_tools/plots/PlotLossesUmami.png
  umami/tests/unit/train_tools/plots/PlotRejPerEpochComparison.png
  umami/tests/unit/train_tools/plots/PlotRejPerEpoch_cjets_rejection.png
  umami/tests/unit/train_tools/plots/PlotRejPerEpoch_ujets_rejection.png
  umami/tests/unit/train_tools/test_Plotting.py
  umami/train_tools/Plotting.py
  umami/train_tools/configuration.py
Due: isort, black, flake8, yamllint

Small fix in epoch performance plot
  umami/plotting_epoch_performance.py
Due: isort, black, flake8

Fix for "exclude" functionality
  changelog.md
  umami/models/model_dl1.py
  umami/models/model_umami.py
  umami/models/model_umami_cond_att.py
Due: isort, black, flake8

Update scaling and writing
  changelog.md
  umami/configs/GNN_Variables.yaml
  umami/preprocessing_tools/Scaling.py
  umami/preprocessing_tools/Writing_Train_File.py
Due: isort, black, flake8, yamllint

fix link in docs
  docs/plotting/python_api/input_correlations.md
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  yamllint: any of: \.(yaml|yml)$
