Repository umami-hep/umami: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, yamllint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: isort
        types: [python]
        args: ["--profile", "black"]
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: black
        types: [python]
        args: ["--experimental-string-processing"]
      - id: flake8
        name: flake8
        stages: [commit]
        language: system
        entry: flake8
        types: [python]
        exclude: setup.py
        args: ["--darglint-ignore-regex", "*"]
      - id: yamllint
        name: yamllint
        stages: [commit]
        language: system
        entry: yamllint
        types: [yaml]
        args: ["-d", "{extends: relaxed, rules: {line-length: disable}}"]

plotting API for eff vs variable plots
  docs/installation.md
  docs/plotting/plotting_umami.md
  docs/plotting/python_api.md
  examples/plotting/plot_pt_vs_eff.py
  examples/plotting/plot_rocs.py
  examples/plotting_umami_config_dips.yaml
  pipelines/.deployment-gitlab-ci.yaml
  umami/evaluation_tools/PlottingFunctions.py
  umami/evaluation_tools/__init__.py
  umami/helper_tools/histogram_tools.py
  umami/metrics/tools.py
  umami/plotting/__init__.py
  umami/plotting/plot_base.py
  umami/plotting/roc.py
  umami/plotting/var_vs_eff.py
  umami/plotting_umami.py
  umami/tests/unit/evaluation_tools/plots/ROC_Comparison_Test.png
  umami/tests/unit/evaluation_tools/plots/ROC_Test.png
  umami/tests/unit/evaluation_tools/plots/pT_vs_Test.png
  umami/tests/unit/evaluation_tools/test_PlottingFunctions.py
  umami/tests/unit/plotting/test_var_vs_eff.py
  umami/tf_tools/Convert_to_Record.py
Due: isort, black, flake8, yamllint

restructure docs
  changelog.md
  docs/development.md
  docs/plotting/WO_trained_model.md
  docs/plotting/index.md
  docs/preprocessing/mc-samples.md
  docs/preprocessing/preprocessing.md
  docs/preprocessing/truth_labels.md
  docs/setup/development/VS_code.md
  docs/setup/development/good-practices.md
  docs/setup/development/index.md
  docs/setup/installation.md
  docs/trainings/Feature_Importance.md
  docs/trainings/GNN-instructions.md
  docs/trainings/LWTNN-conversion.md
  docs/trainings/index.md
  docs/trainings/train-instructions.md
  mkdocs.yml
  pipelines/.deployment-gitlab-ci.yaml
Due: yamllint

Update TFRecord reader/writer + Adding support for CADS and Umami Cond Att
  docs/preprocessing/preprocessing.md
  examples/PFlow-Preprocessing-taus.yaml
  examples/PFlow-Preprocessing.yaml
  pipelines/.integration_test-gitlab-ci.yaml
  umami/evaluate_model.py
  umami/models/Model_CADS.py
  umami/models/Model_DL1.py
  umami/models/Model_Dips.py
  umami/models/Model_Umami.py
  umami/models/Model_Umami_cond_att.py
  umami/plotting_epoch_performance.py
  umami/tests/integration/fixtures/testSetup.yaml
  umami/tests/integration/test_preprocessing.py
  umami/tests/integration/test_train.py
  umami/tests/unit/tf_tools/test_tf_tools_ConvertToRecord.py
  umami/tf_tools/Convert_to_Record.py
  umami/tf_tools/__init__.py
  umami/tf_tools/load_tfrecord.py
  umami/train_tools/Plotting.py
Due: isort, black, flake8, yamllint

Organising ToDos in sections
  pipelines/gitlab-update-todo.py
  umami/evaluate_model.py
  umami/preprocessing_tools/Scaling.py
Due: isort, black, flake8

fixing binarizer for 2 class labels
  umami/preprocessing_tools/resampling/pdf_sampling.py
  umami/preprocessing_tools/resampling/resampling_base.py
Due: isort, black, flake8

Adding variable plots for preprocessing stages
  docs/preprocessing/preprocessing.md
  examples/PFlow-Preprocessing-taus.yaml
  examples/PFlow-Preprocessing.yaml
  umami/preprocessing_tools/Scaling.py
  umami/preprocessing_tools/Writing_Train_File.py
  umami/preprocessing_tools/__init__.py
  umami/preprocessing_tools/resampling/count_sampling.py
  umami/preprocessing_tools/resampling/pdf_sampling.py
  umami/preprocessing_tools/resampling/weighting.py
  umami/preprocessing_tools/utils.py
  umami/tests/integration/test_preprocessing.py
  umami/tests/unit/preprocessing/plots/absEta_btagJes.png
  umami/tests/unit/preprocessing/plots/pt_btagJes.png
  umami/tests/unit/preprocessing/plots/tracks/d0.png
  umami/tests/unit/preprocessing/plots/tracks/z0SinTheta.png
  umami/tests/unit/preprocessing/plots/tracks_loose/d0.png
  umami/tests/unit/preprocessing/plots/tracks_loose/z0SinTheta.png
  umami/tests/unit/preprocessing/test_preprocess_plotting.py
Due: isort, black, flake8, yamllint

Fixed broken links in README + fixes in docstrings
  README.md
  docs/index.md
  umami/plotting/plot_base.py
  umami/plotting/roc.py
  umami/plotting/var_vs_eff.py
Due: isort, black, flake8

small fixes
  changelog.md
  pipelines/.deployment-gitlab-ci.yaml
  umami/tests/integration/test_train.py
Due: isort, black, flake8, yamllint

small todo issue improvement
  pipelines/gitlab-update-todo.py
  umami/evaluation_tools/PlottingFunctions.py
Due: isort, black, flake8

Fix small bug in plotting code
  umami/evaluation_tools/PlottingFunctions.py
  umami/tests/unit/evaluation_tools/plots/plot_prob.png
Due: isort, black, flake8

Add atlasify
  requirements.txt
Due: none

Update gitignore
  .gitignore
Due: none

Minor var_vs_eff fix
  umami/plotting/var_vs_eff.py
  umami/tests/unit/plotting/test_var_vs_eff.py
Due: isort, black, flake8

Update atlasify
  requirements.txt
Due: none

Add protection
  umami/evaluation_tools/PlottingFunctions.py
  umami/preprocessing_tools/utils.py
Due: isort, black, flake8

removing spectator variables and fixing exclude option
  changelog.md
  umami/configs/DL1r_Variables.yaml
  umami/configs/DL1r_Variables_R22.yaml
  umami/configs/Dips_Variables.yaml
  umami/configs/Dips_Variables_R22.yaml
  umami/configs/Umami_Variables.yaml
  umami/configs/Umami_Variables_R22.yaml
  umami/models/Model_DL1.py
  umami/models/Model_Umami.py
  umami/models/Model_Umami_cond_att.py
  umami/tests/unit/preprocessing/fixtures/dummy_var_file.yaml
Due: isort, black, flake8, yamllint

Restructuring gitlab pipeline folders
  .gitlab-ci.yml
  .gitlab/issue_templates/bug-report.md
  .gitlab/merge_request_templates/Default.md
  .gitlab/workflow/.coverage-gitlab-ci.yaml
  .gitlab/workflow/.deployment-gitlab-ci.yaml
  .gitlab/workflow/.docker-gitlab-ci.yaml
  .gitlab/workflow/.integration_test-gitlab-ci.yaml
  .gitlab/workflow/.linting-gitlab-ci.yaml
  .gitlab/workflow/.unit_test-gitlab-ci.yaml
  .gitlab/workflow/gitlab-check-mr.py
  .gitlab/workflow/gitlab-mr-coverage-api-post.py
  .gitlab/workflow/gitlab-update-todo.py
  .gitlab/workflow/label_mapping.yaml
  changelog.md
Due: isort, black, flake8, yamllint

update 3d significance sv variable
  .gitlab/workflow/ci-preprocessing.yaml
  changelog.md
  docs/setup/development/index.md
  umami/configs/DL1r_Variables_R22.yaml
  umami/configs/Dips_Variables_R22.yaml
  umami/configs/Umami_Variables_R22.yaml
  umami/configuration/Configuration.py
  umami/data_tools/Cuts.py
  umami/evaluation_tools/PlottingFunctions.py
  umami/preprocessing_tools/Configuration.py
  umami/tests/unit/helper_tools/test_tools.py
  umami/tools/__init__.py
  umami/tools/tools.py
Due: isort, black, flake8, yamllint

Updating VS Code instructions
  changelog.md
  docs/setup/development/VS_code.md
Due: none

Changelog do not interfere anymore with just doc changes
  .gitlab/workflow/gitlab-check-mr.py
Due: isort, black, flake8

Fixing issue with integration test + Removing old namings
  .gitattributes
  .gitlab/workflow/.integration_test-gitlab-ci.yaml
  changelog.md
  docs/preprocessing/preprocessing.md
  examples/CADS-PFlow-Training-config.yaml
  examples/DL1r-PFlow-Training-config.yaml
  examples/Dips-PFlow-Training-config.yaml
  examples/PFlow-Preprocessing-hybrid-validation.yaml
  examples/PFlow-Preprocessing-taus.yaml
  examples/PFlow-Preprocessing.yaml
  examples/umami-Cond-Att-PFlow-Training-config.yaml
  examples/umami-PFlow-Training-config.yaml
  umami/tests/integration/test_train.py
Due: isort, black, flake8, yamllint

Adding plotting features
  changelog.md
  docs/plotting/plotting_umami.md
  umami/evaluation_tools/PlottingFunctions.py
  umami/plotting/plot_base.py
  umami/plotting/roc.py
Due: isort, black, flake8

Fixing input vars plotting ylabel (#157)
  changelog.md
  umami/input_vars_tools/PlottingFunctions.py
  umami/tests/unit/input_vars_tools/plots/comp/IP2D_bu.png
  umami/tests/unit/input_vars_tools/plots/comp/IP2D_cu.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/0/IP3D_signed_d0_significance_0_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/0/dr_0_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/0/numberOfInnermostPixelLayerHits_0_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/All/IP3D_signed_d0_significance_None_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/All/dr_None_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/All/numberOfInnermostPixelLayerHits_None_All.png
  umami/tests/unit/input_vars_tools/plots/jets_input_vars/IP2D_bu.png
  umami/tests/unit/input_vars_tools/plots/jets_input_vars/IP2D_cu.png
  umami/tests/unit/input_vars_tools/plots/nTracks_per_Jet_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/0/IP3D_signed_d0_significance_0_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/0/dr_0_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/0/numberOfInnermostPixelLayerHits_0_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/All/IP3D_signed_d0_significance_None_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/All/dr_None_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/All/numberOfInnermostPixelLayerHits_None_All.png
Due: isort, black, flake8

Update atlasify to version 0.6.1
  requirements.txt
Due: none

changing to matplotlib.figure API + atlasify
  changelog.md
  umami/evaluation_tools/PlottingFunctions.py
  umami/plotting/plot_base.py
  umami/plotting/roc.py
  umami/plotting/utils.py
  umami/plotting/var_vs_eff.py
  umami/tests/unit/evaluation_tools/plots/ROC_Comparison_Test.png
  umami/tests/unit/evaluation_tools/plots/ROC_Test.png
  umami/tests/unit/evaluation_tools/plots/pT_vs_Test.png
  umami/tests/unit/plotting/expected_plots/test_pt_dependence_bkg_efficiency.png
  umami/tests/unit/plotting/expected_plots/test_pt_dependence_rejection.png
  umami/tests/unit/plotting/expected_plots/test_roc_four_curves_2_ratio.png
  umami/tests/unit/plotting/expected_plots/test_roc_two_curves_1_ratio.png
  umami/tests/unit/plotting/test_roc.py
  umami/tests/unit/plotting/test_var_vs_eff.py
Due: isort, black, flake8

Adding custom labels to validation metrics plots
  changelog.md
  docs/trainings/train-instructions.md
  examples/CADS-PFlow-Training-config.yaml
  examples/DL1r-PFlow-Training-config.yaml
  examples/Dips-PFlow-Training-config.yaml
  examples/umami-Cond-Att-PFlow-Training-config.yaml
  examples/umami-PFlow-Training-config.yaml
  umami/plotting_epoch_performance.py
  umami/tests/unit/train_tools/fixtures/test_train_config.yaml
  umami/tests/unit/train_tools/plots/PlotAccuracies.png
  umami/tests/unit/train_tools/plots/PlotAccuraciesUmami.png
  umami/tests/unit/train_tools/plots/PlotDiscCutPerEpoch.png
  umami/tests/unit/train_tools/plots/PlotDiscCutPerEpochUmami.png
  umami/tests/unit/train_tools/plots/PlotLosses.png
  umami/tests/unit/train_tools/plots/PlotLossesUmami.png
  umami/tests/unit/train_tools/plots/PlotRejPerEpochComparison.png
  umami/tests/unit/train_tools/plots/PlotRejPerEpoch_cjets_rejection.png
  umami/tests/unit/train_tools/plots/PlotRejPerEpoch_ujets_rejection.png
  umami/tests/unit/train_tools/test_Plotting.py
  umami/train_tools/Plotting.py
Due: isort, black, flake8, yamllint

correct typo
  docs/setup/installation.md
Due: none

adding slim umami image
  .gitlab/workflow/.docker-gitlab-ci.yaml
  docker/umami-slim/Dockerfile
Due: yamllint

Adding command line option prepare + fix metadata
  changelog.md
  docs/trainings/train-instructions.md
  umami/train.py
Due: isort, black, flake8

dummy data generation
  .gitlab/workflow/.docker-gitlab-ci.yaml
  changelog.md
  docs/plotting/python_api/dummy_data.md
  docs/plotting/python_api/index.md
  docs/plotting/python_api/rocs.md
  examples/plotting/plot_rocs.py
  mkdocs.yml
  umami/plotting/utils.py
Due: isort, black, flake8, yamllint

linting on full project
  .gitlab/workflow/.linting-gitlab-ci.yaml
  docs/plotting/python_api/index.md
  examples/custom-pdf.py
  scripts/check_lwtnn-model.py
  scripts/compute_workingpoint.py
  scripts/conv_lwtnn_model.py
  scripts/create_lwtnn_vardict.py
Due: isort, black, flake8, yamllint

Fix branch unit tests
  .gitlab/workflow/.unit_test-gitlab-ci.yaml
  changelog.md
Due: yamllint

Streamline h5 ntuples and samples overview with that of ftag-docs
  changelog.md
  docs/preprocessing/mc-samples.md
Due: none

Adding code blocks to docs directly from repo
  .gitlab/workflow/.deployment-gitlab-ci.yaml
  .gitlab/workflow/replace_placeholders_in_md.py
  changelog.md
  docs/plotting/python_api/rocs.md
  docs/setup/development/good_practices_code.md
  docs/setup/development/good_practices_docs.md
  docs/setup/development/index.md
  mkdocs.yml
Due: isort, black, flake8, yamllint

Adding histograms to new plotting python API
  .gitlab/merge_request_templates/Default.md
  changelog.md
  docs/plotting/python_api/histograms.md
  docs/plotting/python_api/rocs.md
  docs/setup/development/good_practices_docs.md
  examples/plotting/plot_basic_histogram.py
  examples/plotting/plot_discriminant_scores.py
  examples/plotting/plot_flavour_probabilities.py
  mkdocs.yml
  umami/helper_tools/histogram_tools.py
  umami/plotting/__init__.py
  umami/plotting/histogram.py
  umami/tests/unit/plotting/expected_plots/test_histogram_different_ranges.png
  umami/tests/unit/plotting/expected_plots/test_histogram_empty_reference_no_norm.png
  umami/tests/unit/plotting/expected_plots/test_histogram_empty_reference_norm.png
  umami/tests/unit/plotting/expected_plots/test_histogram_ratio_value.png
  umami/tests/unit/plotting/test_histogram.py
Due: isort, black, flake8, yamllint

CI and packaging updates
  .gitlab/workflow/.unit_test-gitlab-ci.yaml
  .gitlab/workflow/label_mapping.yaml
  changelog.md
  pyproject.toml
  setup.cfg
  setup.py
  umami/classification_tools/__init__.py
  umami/data_tools/Loaders.py
  umami/evaluate_model.py
  umami/helper_tools/__init__.py
  umami/helper_tools/classification_tools.py
  umami/plotting_epoch_performance.py
  umami/tests/unit/helper_tools/test_classification_tools.py
  umami/train_tools/Configuration.py
Due: isort, black, flake8, yamllint

slim image update
  .gitlab/workflow/.docker-gitlab-ci.yaml
  changelog.md
  docker/umami-slim/Dockerfile
  docker/umamibase-plus/Dockerfile
  docker/umamibase/Dockerfile
  docs/setup/installation.md
  minimal_requirements.txt
  requirements.txt
  requirements_additional.txt
  requirements_develop.txt
Due: yamllint

Update GNN_Variables.yaml
  umami/configs/GNN_Variables.yaml
Due: yamllint

Add example plots to docs
  .gitlab/workflow/.deployment-gitlab-ci.yaml
  .gitlab/workflow/.integration_test-gitlab-ci.yaml
  .gitlab/workflow/replace_placeholders_in_md.py
  changelog.md
  docs/plotting/python_api/histograms.md
  docs/plotting/python_api/index.md
  docs/plotting/python_api/rocs.md
  docs/plotting/python_api/var_vs_eff.md
  examples/plotting/plot_basic_histogram.py
  examples/plotting/plot_discriminant_scores.py
  examples/plotting/plot_flavour_probabilities.py
  examples/plotting/plot_pt_vs_eff.py
  examples/plotting/plot_rocs.py
  mkdocs.yml
  umami/plotting/utils.py
  umami/tests/integration/test_examples.py
Due: isort, black, flake8, yamllint

Plots for input correlations
  changelog.md
  docs/plotting/python_api/input_correlations.md
  examples/plotting/input_correlations.py
  mkdocs.yml
  umami/tests/integration/test_examples.py
Due: isort, black, flake8, yamllint
