Repository umami-hep/umami: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, yamllint

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: isort
  args:
  - --profile
  - black

black:
  name: black
  stages:
  - commit
  language: system
  entry: black
  args:
  - --experimental-string-processing

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: flake8
  args:
  - --darglint-ignore-regex
  - '*'

yamllint:
  name: yamllint
  stages:
  - commit
  language: system
  entry: yamllint
  args:
  - -d
  - '{extends: relaxed, rules: {line-length: disable}}'

adding black in ci
  pipelines/.linting-gitlab-ci.yaml
  scripts/compute_workingpoint.py
Due: isort, black, flake8, yamllint

Fixing parallel processing of categories in pdf sampling
  umami/preprocessing_tools/Resampling.py
Due: isort, black, flake8

Update docstrings in for resampling and add inline comments
  setup.cfg
  umami/preprocessing_tools/Resampling.py
Due: isort, black, flake8

Updated sphinx docstrings style
  umami/metrics/metrics.py
Due: isort, black, flake8

Add preprocessed hybrid validation example
  docs/preprocessing.md
  examples/PFlow-Preprocessing-hybrid-validation.yaml
  examples/PFlow-Preprocessing.yaml
  examples/Preprocessing-parameters.yaml
Due: yamllint

Adding new p4931
  docs/mc-samples.md
Due: none

Modify names of track variables in config files
  umami/configs/Dips_Variables_R22.yaml
  umami/configs/Umami_Variables_R22.yaml
Due: yamllint

Adding docs for pdf method and parallelise pdf method
  docs/preprocessing.md
Due: none

adding plotting module
  pipelines/.unit_test-gitlab-ci.yaml
  setup.py
  umami/evaluation_tools/PlottingFunctions.py
  umami/metrics/__init__.py
  umami/metrics/tools.py
  umami/plotting/__init__.py
  umami/plotting/plot_base.py
  umami/plotting/roc.py
  umami/plotting_umami.py
  umami/tests/unit/evaluation_tools/plots/ROC_Comparison_Test.png
  umami/tests/unit/evaluation_tools/plots/ROC_Test.png
  umami/tests/unit/evaluation_tools/test_PlottingFunctions.py
  umami/tests/unit/metrics/test_metrics_tools.py
  umami/tests/unit/plotting/test_plot_base.py
  umami/tests/unit/plotting/test_roc.py
  umami/tools/PyATLASstyle/PyATLASstyle.py
Due: isort, black, flake8, yamllint

Adding optional results filename extension
  docs/train-instructions.md
  umami/evaluate_model.py
Due: isort, black, flake8

Adding rejection and efficiency function and plotting examples
  docs/plotting/plot_rocs.py
  docs/plotting/python_api.md
  examples/plot_rocs.py
  mkdocs.yml
  pipelines/.coverage-gitlab-ci.yaml
  umami/configuration/Configuration.py
  umami/evaluation_tools/PlottingFunctions.py
  umami/metrics/__init__.py
  umami/metrics/metrics.py
  umami/plotting/plot_base.py
  umami/plotting/roc.py
  umami/tests/unit/evaluation_tools/plots/ROC_Test.png
  umami/tests/unit/plotting/test_roc.py
  umami/tests/unit/preprocessing/test_preprocessing_tools_Resampling.py
  umami/tools/PyATLASstyle/PyATLASstyle.py
Due: isort, black, flake8, yamllint

setting logging level to debug for tests
  umami/configuration/Configuration.py
  umami/configuration/__init__.py
  umami/tests/integration/test_input_vars_plot.py
  umami/tests/integration/test_plotting_umami.py
  umami/tests/integration/test_preprocessing.py
  umami/tests/integration/test_train.py
  umami/tests/unit/classification_tools/test_classification_tools.py
  umami/tests/unit/data_tools/test_data_tools_Cuts.py
  umami/tests/unit/data_tools/test_data_tools_Loaders.py
  umami/tests/unit/data_tools/test_data_tools_tools.py
  umami/tests/unit/evaluation_tools/test_PlottingFunctions.py
  umami/tests/unit/evaluation_tools/test_eval_tools.py
  umami/tests/unit/helper_tools/test_hisogram_tools.py
  umami/tests/unit/helper_tools/test_tools.py
  umami/tests/unit/input_vars_tools/test_input_vars_tools.py
  umami/tests/unit/metrics/test_metrics.py
  umami/tests/unit/metrics/test_metrics_tools.py
  umami/tests/unit/plotting/test_plot_base.py
  umami/tests/unit/plotting/test_roc.py
  umami/tests/unit/preprocessing/test_preprocess_plotting.py
  umami/tests/unit/preprocessing/test_preprocessing.py
  umami/tests/unit/preprocessing/test_preprocessing_tools.py
  umami/tests/unit/preprocessing/test_preprocessing_tools_Resampling.py
  umami/tests/unit/preprocessing/test_preprocessing_tools_Scaling.py
  umami/tests/unit/preprocessing/test_preprocessing_tools_merge_large_h5.py
  umami/tests/unit/tf_tools/test_tf_tools.py
  umami/tests/unit/tf_tools/test_tf_tools_ConvertToRecord.py
  umami/tests/unit/train_tools/test_NN_tools.py
  umami/tests/unit/train_tools/test_Plotting.py
Due: isort, black, flake8

Add normalization option to input plotting
  umami/input_vars_tools/PlottingFunctions.py
  umami/tests/unit/input_vars_tools/plots/comp/IP2D_bu.png
  umami/tests/unit/input_vars_tools/plots/comp/IP2D_cu.png
Due: isort, black, flake8

Updating packaging and small issues
  .gitlab-ci.yml
  MANIFEST.in
  docker/umami/Dockerfile
  docs/installation.md
  docs/plotting/python_api.md
  docs/train-instructions.md
  pipelines/.coverage-gitlab-ci.yaml
  pipelines/.integration_test-gitlab-ci.yaml
  pipelines/.linting-gitlab-ci.yaml
  pipelines/.unit_test-gitlab-ci.yaml
  run_setup.sh
  setup.py
  umami/evaluate_model.py
  umami/plot_input_variables.py
  umami/plotting_umami.py
  umami/preprocessing.py
  umami/tests/integration/test_plotting_umami.py
  umami/tests/integration/test_preprocessing.py
  umami/tests/integration/test_train.py
  umami/tools/PyATLASstyle/PyATLASstyle.py
  umami/tools/PyATLASstyle/__init__.py
  umami/train.py
Due: isort, black, flake8, yamllint

Upgrading packages
  .gitlab-ci.yml
  additional_requirements.txt
  requirements.txt
Due: yamllint

fix roc plots
  docs/development.md
  umami/evaluation_tools/PlottingFunctions.py
Due: isort, black, flake8

CI improvements
  .gitlab-ci.yml
  pipelines/.coverage-gitlab-ci.yaml
  pipelines/.docker-gitlab-ci.yaml
  pipelines/.unit_test-gitlab-ci.yaml
  requirements.txt
  setup.cfg
  umami/evaluate_model.py
  umami/evaluation_tools/eval_tools.py
  umami/models/Model_CADS.py
  umami/models/Model_DL1.py
  umami/models/Model_Dips.py
  umami/models/Model_Umami.py
  umami/tests/unit/tf_tools/test_tf_tools.py
  umami/tf_tools/layers.py
  umami/tf_tools/models.py
  umami/tf_tools/tools.py
  umami/train_tools/NN_tools.py
Due: isort, black, flake8, yamllint

Added docs for fixing VSCode debugger
  docs/development.md
Due: none

Updating doc strings for yaml tools
  umami/tools/yaml_tools.py
Due: isort, black, flake8

Small plotting fixes
  umami/evaluation_tools/PlottingFunctions.py
  umami/plotting/plot_base.py
Due: isort, black, flake8

Adding increased code coverage
  docs/WO_trained_model.md
  examples/evaluate_comp_taggers.yaml
  pipelines/.integration_test-gitlab-ci.yaml
  umami/preprocessing_tools/utils.py
  umami/tests/integration/fixtures/testSetup.yaml
  umami/tests/integration/test_train.py
  umami/tests/unit/preprocessing/plots/default_abseta.png
  umami/tests/unit/preprocessing/plots/default_pT.png
  umami/tests/unit/preprocessing/plots/eta.png
  umami/tests/unit/preprocessing/plots/pT.png
  umami/tests/unit/preprocessing/test_preprocess_plotting.py
Due: isort, black, flake8, yamllint

Add `model_file` to metadata folder
  umami/train_tools/NN_tools.py
Due: isort, black, flake8

Making sure also in master pipeline the base image is used which is built in CI
  pipelines/.docker-gitlab-ci.yaml
  pipelines/.integration_test-gitlab-ci.yaml
  pipelines/.unit_test-gitlab-ci.yaml
Due: yamllint

Increasing umami version to 0.6
  setup.py
  umami/__init__.py
Due: isort, black, flake8

ci tag docker
  pipelines/.docker-gitlab-ci.yaml
Due: yamllint

ci tag docker fix
  pipelines/.docker-gitlab-ci.yaml
Due: yamllint

ci tag docker - another one
  pipelines/.docker-gitlab-ci.yaml
Due: yamllint

Fixing all issues of darglint and removing unused functions
  docs/plotting/plot_rocs.py
  examples/plot_rocs.py
  pipelines/.linting-gitlab-ci.yaml
  umami/configuration/Configuration.py
  umami/data_tools/Cuts.py
  umami/evaluation_tools/FeatureImportance.py
  umami/metrics/metrics.py
  umami/models/Model_DL1.py
  umami/models/Model_Dips.py
  umami/plotting/plot_base.py
  umami/plotting_umami.py
  umami/preprocessing_tools/Configuration.py
  umami/preprocessing_tools/Merging.py
  umami/preprocessing_tools/Resampling.py
  umami/preprocessing_tools/Scaling.py
  umami/preprocessing_tools/Writing_Train_File.py
  umami/preprocessing_tools/__init__.py
  umami/preprocessing_tools/utils.py
  umami/tests/integration/test_input_vars_plot.py
  umami/tests/integration/test_plotting_umami.py
  umami/tests/integration/test_preprocessing.py
  umami/tests/integration/test_train.py
  umami/tf_tools/generators.py
  umami/train_tools/NN_tools.py
  umami/train_tools/Plotting.py
Due: isort, black, flake8, yamllint

Updating documentation about function docstrings etc.
  docs/development.md
Due: none

Umami attention
  examples/umami-Cond-Att-PFlow-Training-config.yaml
  umami/models/Model_Umami_cond_att.py
  umami/models/__init__.py
  umami/tests/unit/tf_tools/test_tf_tools.py
  umami/tests/unit/tf_tools/test_tf_tools_ConvertToRecord.py
  umami/tf_tools/Convert_to_Record.py
  umami/tf_tools/__init__.py
  umami/tf_tools/generators.py
  umami/tf_tools/layers.py
  umami/tf_tools/load_tfrecord.py
  umami/tf_tools/models.py
  umami/train.py
  umami/train_tools/NN_tools.py
Due: isort, black, flake8, yamllint

Fixing LRR issue and define validation n_jets and WP
  docs/train-instructions.md
  examples/CADS-PFlow-Training-config.yaml
  examples/DL1r-PFlow-Training-config.yaml
  examples/Dips-PFlow-Training-config.yaml
  examples/umami-Cond-Att-PFlow-Training-config.yaml
  examples/umami-PFlow-Training-config.yaml
  umami/evaluate_model.py
  umami/models/Model_CADS.py
  umami/models/Model_DL1.py
  umami/models/Model_Dips.py
  umami/models/Model_Umami.py
  umami/models/Model_Umami_cond_att.py
  umami/plotting_epoch_performance.py
  umami/tests/integration/test_train.py
Due: isort, black, flake8, yamllint

Updated instructions for using lwtnn
  docs/LWTNN-conversion.md
Due: none

Add TFRecords support for CADS
  umami/models/Model_CADS.py
Due: isort, black, flake8

Fixed broken link in docs
  docs/LWTNN-conversion.md
  scripts/check_lwtnn-model.py
Due: isort, black, flake8

Fix scale dict combination
  umami/preprocessing_tools/Scaling.py
  umami/tests/unit/preprocessing/test_preprocessing_tools_Scaling.py
Due: isort, black, flake8

New combine flavour method for PDF sampling (with shuffling)
  umami/preprocessing_tools/Resampling.py
Due: isort, black, flake8

Splitting up resampling in separate files
  umami/preprocessing_tools/__init__.py
  umami/preprocessing_tools/resampling/__init__.py
  umami/preprocessing_tools/resampling/count_sampling.py
  umami/preprocessing_tools/resampling/pdf_sampling.py
  umami/preprocessing_tools/resampling/proportional_sampling.py
  umami/preprocessing_tools/resampling/resampling_base.py
  umami/preprocessing_tools/resampling/weighting.py
Due: isort, black, flake8

Umami att tests documentation
  docs/preprocessing.md
  examples/PFlow-Preprocessing.yaml
  umami/tests/integration/test_preprocessing.py
Due: isort, black, flake8, yamllint

Adding different track collections in input var plotting
  docs/plotting/plotting_inputs.md
  examples/plotting_input_vars.yaml
  umami/input_vars_tools/PlottingFunctions.py
  umami/plot_input_variables.py
  umami/tests/unit/input_vars_tools/test_input_vars_tools.py
Due: isort, black, flake8, yamllint

Renamed nominator -> numerator
  umami/evaluation_tools/PlottingFunctions.py
  umami/helper_tools/histogram_tools.py
  umami/input_vars_tools/PlottingFunctions.py
  umami/metrics/metrics.py
  umami/tests/unit/helper_tools/test_histogram_tools.py
Due: isort, black, flake8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  yamllint: any of: \.(yaml|yml)$
