Repository umami-hep/umami: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_umamibase_cpu, build_umamibase_gpu, build_umamibase_plus_cpu, build_umamibase_plus_gpu, build_umamibase_gpu_pytorch, build_umamibase_cpu_MR

Path conditions:
  build_umamibase_cpu: any of: requirements.txt, requirements_develop.txt, docker/umamibase/Dockerfile, .gitlab/workflow/.docker-gitlab-ci.yaml, .gitlab-ci.yml
  build_umamibase_gpu: any of: requirements.txt, requirements_develop.txt, docker/umamibase/Dockerfile, .gitlab/workflow/.docker-gitlab-ci.yaml, .gitlab-ci.yml
  build_umamibase_plus_cpu: any of: requirements_additional.txt, docker/umamibase-plus/Dockerfile, requirements.txt, requirements_develop.txt, docker/umamibase/Dockerfile, .gitlab-ci.yml
  build_umamibase_plus_gpu: any of: requirements_additional.txt, docker/umamibase-plus/Dockerfile, requirements.txt, requirements_develop.txt, docker/umamibase/Dockerfile, .gitlab-ci.yml
  build_umamibase_gpu_pytorch: any of: requirements.txt, requirements_develop.txt, docker/umamibase/Dockerfile, .gitlab/workflow/.docker-gitlab-ci.yaml, .gitlab-ci.yml
  build_umamibase_cpu_MR: any of: requirements.txt, requirements_develop.txt, docker/umamibase/Dockerfile, .gitlab/workflow/.docker-gitlab-ci.yaml, .gitlab-ci.yml

Support PUMA variables in general preprocessing config for preprocessing plots
  changelog.md
  docs/preprocessing/ntuple_preparation.md
  docs/preprocessing/scaling_shifting.md
  docs/preprocessing/write_train_sample.md
  examples/preprocessing/PFlow-Preprocessing.yaml
  umami/preprocessing_tools/configuration.py
  umami/preprocessing_tools/resampling/count_sampling.py
  umami/preprocessing_tools/resampling/pdf_sampling.py
  umami/preprocessing_tools/resampling/weighting.py
  umami/preprocessing_tools/writing_train_file.py
  umami/tests/unit/preprocessing/test_preprocessing_tools_configuration.py
Due: none

addressing alvaros comments
  paper/convert_to_umami.py
  paper/mass.pdf
  paper/paper.bib
  paper/paper.md
Due: none

update, finished comments
  paper/eta.png
  paper/mass.pdf
  paper/mass.png
  paper/paper.bib
  paper/paper.md
Due: none

add more plots
  paper/accuracy-plot.png
  paper/fig_09.png
  paper/loss-plot.png
  paper/paper.md
Due: none

upload
  paper/compile_docker.sh
  paper/paper.md
Due: none

Boosted preprocessing: add n_jets_validation to configs to create validation samples.
  changelog.md
  examples/preprocessing/Boosted/Xbb_Variables.yaml
  examples/preprocessing/Boosted/preprocess.yaml
Due: none

Update Docs FAQ
  changelog.md
  docs/faq/training_faq.md
  docs/faq/validation_faq.md
  docs/trainings/validate.md
Due: none

Add option to use tdd file format to train in umami
  changelog.md
  docs/preprocessing/write_train_sample.md
  docs/trainings/train.md
  umami/models/model_cads.py
  umami/models/model_dips.py
  umami/models/model_dl1.py
  umami/models/model_umami.py
  umami/models/model_umami_cond_att.py
  umami/preprocessing_tools/writing_train_file.py
  umami/tests/unit/data_tools/test_data_tools_loaders.py
  umami/tests/unit/plotting_tools/test_train_plot_functions.py
  umami/tests/unit/preprocessing/test_preprocessing_tools_resampling.py
  umami/tests/unit/tf_tools/fixtures/Dips_Variables_R22.yaml
  umami/tests/unit/tf_tools/fixtures/PFlow-Preprocessing.yaml
  umami/tests/unit/tf_tools/fixtures/Preprocessing-cut_parameters.yaml
  umami/tests/unit/tf_tools/fixtures/Preprocessing-parameters.yaml
  umami/tests/unit/tf_tools/fixtures/Preprocessing-samples.yaml
  umami/tests/unit/tf_tools/fixtures/TDD-10jets
  umami/tests/unit/tf_tools/fixtures/TDD-10jets-weights
  umami/tests/unit/tf_tools/fixtures/scale_dict.json
  umami/tests/unit/tf_tools/test_tddgenerators.py
  umami/tf_tools/__init__.py
  umami/tf_tools/generators.py
  umami/tf_tools/tddgenerators.py
  umami/train_tools/configuration.py
Due: none

Update Puma version to v0.2.7
  changelog.md
  requirements.txt
Due: build_umamibase_cpu, build_umamibase_gpu, build_umamibase_plus_cpu, build_umamibase_plus_gpu, build_umamibase_gpu_pytorch, build_umamibase_cpu_MR

Update atlas-ftag-tools package
  changelog.md
  requirements.txt
Due: build_umamibase_cpu, build_umamibase_gpu, build_umamibase_plus_cpu, build_umamibase_plus_gpu, build_umamibase_gpu_pytorch, build_umamibase_cpu_MR

address comments
  paper/accuracy-plot.png
  paper/eta.png
  paper/loss-plot.png
  paper/mass.png
  paper/paper.md
Due: none

increase quality of loss and accuracy plots
  paper/accuracy-plot.png
  paper/loss-plot.png
Due: none

reorder authors
  paper/paper.md
Due: none

finetuning + add years
  paper/paper.bib
  paper/paper.md
Due: none

Update atlas-ftag-tools and UPP
  changelog.md
  requirements.txt
  umami/tests/unit/input_vars_tools/plots/comp/JetFitterSecondaryVertex_nTracks.png
  umami/tests/unit/input_vars_tools/plots/comp/SV1_NGTinSvx.png
  umami/tests/unit/input_vars_tools/plots/comp/pt_btagJes_log.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/0/IP3D_signed_d0_significance_0_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/0/dr_0_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/0/numberOfInnermostPixelLayerHits_0_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/0/pt_frac_log_0_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/All/IP3D_signed_d0_significance_None_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/All/dr_None_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/All/numberOfInnermostPixelLayerHits_None_All.png
  umami/tests/unit/input_vars_tools/plots/comp/ptfrac/All/pt_frac_log_None_All.png
  umami/tests/unit/input_vars_tools/plots/comp_no_norm/ptfrac/All/IP3D_signed_d0_significance_None_All.png
  umami/tests/unit/input_vars_tools/plots/jets_input_vars/JetFitterSecondaryVertex_nTracks.png
  umami/tests/unit/input_vars_tools/plots/jets_input_vars/SV1_NGTinSvx.png
  umami/tests/unit/input_vars_tools/plots/jets_input_vars/pt_btagJes_log.png
  umami/tests/unit/input_vars_tools/plots/nTracks_per_Jet_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/0/IP3D_signed_d0_significance_0_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/0/dr_0_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/0/numberOfInnermostPixelLayerHits_0_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/0/pt_frac_log_0_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/All/IP3D_signed_d0_significance_None_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/All/dr_None_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/All/numberOfInnermostPixelLayerHits_None_All.png
  umami/tests/unit/input_vars_tools/plots/ptfrac/All/pt_frac_log_None_All.png
  umami/tests/unit/plotting_tools/plots/Duplicated_jet_multiplicity.png
  umami/tests/unit/plotting_tools/plots/absEta_btagJes.png
  umami/tests/unit/plotting_tools/plots/eta_before_resampling.png
  umami/tests/unit/plotting_tools/plots/pT_before_resampling.png
  umami/tests/unit/plotting_tools/plots/plot_prob.png
  umami/tests/unit/plotting_tools/plots/plot_prob_comparison.png
  umami/tests/unit/plotting_tools/plots/plot_score.png
  umami/tests/unit/plotting_tools/plots/plot_score_comparison.png
  umami/tests/unit/plotting_tools/plots/pt_btagJes.png
  umami/tests/unit/plotting_tools/plots/tracks/d0.png
  umami/tests/unit/plotting_tools/plots/tracks/z0SinTheta.png
  umami/tests/unit/plotting_tools/plots/tracks_loose/d0.png
  umami/tests/unit/plotting_tools/plots/tracks_loose/z0SinTheta.png
Due: build_umamibase_cpu, build_umamibase_gpu, build_umamibase_plus_cpu, build_umamibase_plus_gpu, build_umamibase_gpu_pytorch, build_umamibase_cpu_MR

Update UPP to 0.0.2
  changelog.md
  requirements.txt
Due: build_umamibase_cpu, build_umamibase_gpu, build_umamibase_plus_cpu, build_umamibase_plus_gpu, build_umamibase_gpu_pytorch, build_umamibase_cpu_MR

Bump Version to v0.21
  changelog.md
  umami/__init__.py
Due: none

Black mismatch
  .gitlab/workflow/.linting-gitlab-ci.yaml
  scripts/create_preprocessing_samples.py
  umami/configuration/configuration.py
  umami/data_tools/loaders.py
  umami/evaluation_tools/eval_tools.py
  umami/helper_tools/classification_tools.py
  umami/input_vars_tools/plotting_functions.py
  umami/metrics/metrics.py
  umami/plotting_epoch_performance.py
  umami/plotting_tools/preprocessing_plotting_functions.py
  umami/plotting_tools/train_plotting_functions.py
  umami/plotting_umami.py
  umami/preprocessing.py
  umami/preprocessing_tools/preparation.py
  umami/preprocessing_tools/resampling/pdf_sampling.py
  umami/preprocessing_tools/resampling/resampling_base.py
  umami/preprocessing_tools/scaling.py
  umami/preprocessing_tools/ttbar_merge.py
  umami/tests/unit/train_tools/test_nn_tools.py
  umami/tf_tools/convert_to_record.py
  umami/tf_tools/layers.py
  umami/tf_tools/load_tfrecord.py
  umami/tf_tools/models.py
  umami/train_tools/nn_tools.py
Due: none

Adding patch to the global config
  paper/tutorial.patch
Due: none

Adding configs for reproducability
  paper/Preprocessing-config.yaml
  paper/Preprocessing-cut_parameters.yaml
  paper/Preprocessing-parameters.yaml
  paper/Preprocessing-samples.yaml
  paper/Train-config.yaml
  paper/Variables.yaml
Due: none

Change truth label names
  changelog.md
  examples/preprocessing/Boosted/Xbb_Variables.yaml
  examples/preprocessing/VR_track/VR-Preprocessing.yaml
  umami/configs/Dips_Variables.yaml
  umami/configs/Dips_Variables_R22.yaml
  umami/configs/GNN_Variables.yaml
  umami/configs/Umami_Variables.yaml
  umami/configs/Umami_Variables_R22.yaml
  umami/input_vars_tools/plotting_functions.py
  umami/tests/unit/tf_tools/fixtures/Dips_Variables_R22.yaml
  umami/tests/unit/tf_tools/fixtures/PFlow-Preprocessing.yaml
  umami/tests/unit/tf_tools/fixtures/TDD-10jets
  umami/tests/unit/tf_tools/fixtures/TDD-10jets-weights
  umami/tests/unit/tf_tools/fixtures/scale_dict.json
  umami/tests/unit/tf_tools/test_tf_tools_convert_to_record.py
Due: none

Update UPP to 004
  changelog.md
  requirements.txt
Due: build_umamibase_cpu, build_umamibase_gpu, build_umamibase_plus_cpu, build_umamibase_plus_gpu, build_umamibase_gpu_pytorch, build_umamibase_cpu_MR

Update packages to match UPP + UPP update (v0.0.5)
  changelog.md
  requirements.txt
  umami/plotting_tools/eval_plotting_functions.py
Due: build_umamibase_cpu, build_umamibase_gpu, build_umamibase_plus_cpu, build_umamibase_plus_gpu, build_umamibase_gpu_pytorch, build_umamibase_cpu_MR

Integration of upp pre-processing package into umami framework
  .gitlab/workflow/.coverage-gitlab-ci.yaml
  .gitlab/workflow/.integration_test-gitlab-ci.yaml
  changelog.md
  docs/preprocessing/Overview.md
  examples/preprocessing/PFlow-Preprocessing-UPP-DL1r.yaml
  requirements.txt
  umami/preprocessing.py
  umami/preprocessing_tools/scaling.py
  umami/preprocessing_tools/writing_train_file.py
  umami/tests/integration/fixtures/testSetup.yaml
  umami/tests/integration/test_preprocessing_upp.py
  umami/tf_tools/tddgenerators.py
  umami/train_tools/configuration.py
  umami/train_tools/nn_tools.py
Due: build_umamibase_cpu, build_umamibase_gpu, build_umamibase_plus_cpu, build_umamibase_plus_gpu, build_umamibase_gpu_pytorch, build_umamibase_cpu_MR

changelog
  changelog.md
Due: none

Improved documentation + umami paper draft
  .github/workflows/draft-pdf.yml
  changelog.md
  docs/contributing/index.md
  docs/index.md
  docs/plotting/index.md
  docs/preprocessing/Overview.md
  docs/preprocessing/ntuple_preparation.md
  docs/trainings/GNN-instructions.md
  docs/tutorial/index.md
  docs/tutorial/preprocessing.md
  docs/tutorial/training.md
  docs/tutorial/validation.md
  examples/tutorial_jetclass/Preprocessing-config.yaml
  examples/tutorial_jetclass/Preprocessing-cut_parameters.yaml
  examples/tutorial_jetclass/Preprocessing-parameters.yaml
  examples/tutorial_jetclass/Preprocessing-samples.yaml
  examples/tutorial_jetclass/Train-config.yaml
  examples/tutorial_jetclass/Variables.yaml
  mkdocs.yml
  paper/.gitignore
  paper/accuracy-plot.png
  paper/codemeta.json
  paper/compile_docker.sh
  paper/convert_to_umami.py
  paper/eta.png
  paper/evaluation.png
  paper/fig_09.png
  paper/loss-plot.png
  paper/mass.png
  paper/paper.bib
  paper/paper.md
  paper/preprocessing.png
  paper/training.png
Due: none

Add dark mode to mkdocs documentation
  changelog.md
  mkdocs.yml
Due: none

update link to docs in docs
  docs/trainings/GNN-instructions.md
Due: none

shorten paper
  paper/paper.md
Due: none

Moving tutorial from FTAG documentation
  docs/index.md
  docs/tutorial/tutorial-umami.md
  mkdocs.yml
Due: none

answer editorial comments and clean up bibliography
  paper/paper.bib
  paper/paper.md
Due: none

address editorial comments
  paper/paper.md
Due: none

Removing `repeat_end` option from default config
  changelog.md
  docs/trainings/evaluate.md
  docs/trainings/train.md
  examples/training/DL1r-PFlow-Training-config.yaml
Due: none

Adding Comments from JOSS Review
  .gitlab-ci.yml
  .gitlab/workflow/.deployment-gitlab-ci.yaml
  changelog.md
  docker/umami-slim/Dockerfile
  docker/umamibase/Dockerfile
  docs/setup/development/index.md
  docs/setup/installation.md
  pyproject.toml
  requirements.txt
  run_setup.sh
  setup.cfg
Due: build_umamibase_cpu, build_umamibase_gpu, build_umamibase_plus_cpu, build_umamibase_plus_gpu, build_umamibase_gpu_pytorch, build_umamibase_cpu_MR

Fixing version issue in master pipeline
  changelog.md
  docker/umami-slim/Dockerfile
  requirements.txt
  setup.cfg
Due: build_umamibase_cpu, build_umamibase_gpu, build_umamibase_plus_cpu, build_umamibase_plus_gpu, build_umamibase_gpu_pytorch, build_umamibase_cpu_MR

Remove slim image
  .gitlab/workflow/.docker-gitlab-ci.yaml
  changelog.md
  docker/umami-slim/Dockerfile
  docs/setup/installation.md
Due: build_umamibase_cpu, build_umamibase_gpu, build_umamibase_gpu_pytorch, build_umamibase_cpu_MR

Remove github workflow in master
  .github/workflows/draft-pdf.yml
  changelog.md
Due: none

update paper author affiliations
  paper/paper.md
Due: none
